:root {
   --light-color1: #fff;
   --light-color2: #E0E6E2;
   --light-color3: #ddf9dd;
   --light-color4: #93F7F8;
   --dark-color1: #2A5741;
   --dark-color2: #2B5858;
   --dark-color3: #163316;
   --dark-color4: #1e521e;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   position: relative;

   /* background: gray; */
}

.hero-bg {
   background: linear-gradient(to right, var(--dark-color3), var(--dark-color2));
}

.burguer {
   display: none;
   position: fixed;
   top: 0.625rem;
   right: 5%;
   z-index: 9;
}

.burguer img{
   margin: 0;
   height: 3.125rem;
}

header {   
   background: linear-gradient(to right,var(--dark-color3), var(--dark-color2));
   color: var(--light-color1);
   width: 100%;
   display: flex;
   /* padding-left: 20%; */
   justify-content: center;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
}

header a {
   text-decoration: none;
   color: var(--light-color1);
   padding: 1.25rem 3.125rem;
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 500;
   border-bottom: transparent solid 1px;
   transition: border 0.5s;
}

header a:hover {
   border-bottom: var(--light-color1) solid 5px;
   cursor: pointer;
}

.hero {
   color: var(--light-color1);
   max-width: 75%;
   margin: 0 auto 0 ;
   padding-top: 9.4rem;
   padding-bottom: 19rem;
   display: flex;
   align-items: center;
   gap: 3rem;
   /* border: red 1px solid; */
}

.hero img {
   width: 31rem;
   transition: transform 0.5s;
   /* border: red 1px solid; */
}

.hero img:hover {
   transform: scale(1.05);
}

.hero-banner {
   margin: 0 0 0 auto;
   /* border: red 1px solid; */
}

.hero-text {
   text-transform: uppercase;
   font-size: 3.125rem;
   font-weight: 500;
   word-spacing: 1rem;
}

.hero-text1 {
   text-indent: 2.5rem;
}

.hero-btns {
   display: flex;
}

.hero-btn1,
.hero-btn2 {
   font-size: 1.6rem;
   border: 1px solid var(--light-color4);
   padding: 0.625rem 2.2rem;
   margin: 1.9rem 1rem 0 0;
   border-radius: 3.125rem;
   transition: color 0.5s;
   transition: background-color 0.5s;
}

.hero-btn1:hover,
.hero-btn2:hover {
   background-color: var(--light-color1);
   color: var(--dark-color1);
   cursor: pointer;
}

.hero-btn1 {
   background-color: var(--dark-color2);
}

.hero-btn2 {
   color: var(--light-color2);
}

/* STUDY TRACKS  */

#about {
   scroll-margin-top: 18rem;
}

.our-study-tracks {
   width: 100%;
   text-align: center;
   margin: 0;
   padding: 0;
}

.study-tracks-txt h2{
   margin-top: 25rem;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color2);
   /* color: var(--dark-color2); */
   letter-spacing: 1px;
}

.border {
   width: 6.25rem;
   margin: 0 auto;
   border-bottom: 3px solid var(--dark-color1);
}

.study-tracks-txt p{
   width: 70%;
   margin: 1rem auto;
   text-align: center;
   font-weight: 600;
   line-height: 1.9rem;
}

.study-tracks-cards {
   margin: 3.125rem 0 25rem 0;
   display: flex;
   flex-direction: row;
   justify-content: center;    
}

.study-card {
   max-width: 19rem;   
   position: relative;   
   /* border: red 1px solid; */
}

.study-card img {
   height: 6.5rem;
   padding: 0.5rem;
   transition: filter 0.2s ease;
}

.study-card img:hover {
   filter: brightness(0.8) invert(0.1);
}

.study-card-title {
   text-transform: uppercase;
   color: var(--dark-color2);
   font-size: 1.25rem;
   font-weight: 600;
   margin: 1.32rem 0 1.25rem; 
}

.study-card-txt {
   margin: 0 auto;
   text-align: left;
   font-size: 1rem;
   font-weight: 600;
   width: 85%;   
}

.study-circle {
   position: absolute;
   top: 1%;
   left: 50%;
   height: 8rem;
   width: 8rem;
   transform: translate(-50%, -4%);
   z-index: -1;
   background: var(--dark-color2);
   border: var(--light-color3) 1px solid;
   border-radius: 4rem;
   box-shadow: var(--dark-color1) 3px 2px 15px;
}

/* OUR ROBOTS  */

#our-courses {
   scroll-margin-top: 18rem;
}

.our-robots {
   background: linear-gradient(to top, var(--dark-color3) 20%, var(--dark-color2) 30%, var(--light-color1) 80%);
   margin: 25rem auto;  
   padding: 1.9rem 0;
   width: 65%;
   border-radius: 0 0 35px 35px;
   /* border: #5b015b 1px solid; */
}

.our-robots h2{
   text-align: center;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color3);
   letter-spacing: 1px;
}

.our-robots-img {
   margin: 1.9rem auto 0;
   display: flex;
   justify-content: space-evenly;
}

.our-robots-img img{
   width: 30%;
   border-radius: 10px;
}

/* HOW IT WORKS  */

#how-it-works {
   scroll-margin-top: 18rem;
}

.how-it-works {
   max-width: 75%;
   text-align: center;
   margin: 12.5rem auto 25rem;
}

.how-it-works-txt{
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color2);
   letter-spacing: 1px;
}

.how-it-works-cards {
   margin: 3.125rem 0 0 0;
   display: flex;
   justify-content: center;
   gap: 6.25rem;
}

.how-it-works-card {
   max-width: 12.5rem;
   text-align: center;   
   position: relative;
}

.works-number {
   position: absolute;
   text-align: center;
   align-content: center;
   top: -5%;
   left: 65%;
   width: 1.9rem;
   height: 1.9rem;
   border-radius: 1rem;
   border: var(--light-color3) 1px solid;
   background-color: var(--light-color1);
   font-size: 14px;
   box-shadow: var(--dark-color1) 3px 2px 15px;
   z-index: 1;
}

.how-it-works-card img {
   box-sizing: border-box;
   height: 9.4rem;
   border-radius: 4.75rem;
   padding: 2.2rem;
   margin-bottom: 0.32rem;
   background: linear-gradient(to bottom, var(--dark-color4), var(--dark-color2));   
   border: var(--light-color3) 2px solid;
   box-shadow: var(--dark-color1) 3px 2px 15px;
   transition: scale 0.3s ease;
}

.how-it-works-card img:hover {   
   scale: 1.05;
   background: linear-gradient(to bottom, var(--dark-color1), var(--dark-color4));   
   box-shadow: var(--dark-color3) 3px 2px 15px;   
}

.how-works-txt {
   font-size: 1rem;
   font-weight: 400;
   box-sizing: border-box;
   border: var(--dark-color2) dotted 3px;   
   padding: 0.625rem;
   border-radius: 10px;
}

/* LEARNING  */

.learning-block {
   background: linear-gradient(to bottom, var(--dark-color1), var(--dark-color2));
   display: flex;
   justify-content: center;
   border-bottom: 5px solid var(--light-color3);
   border-top: 5px solid var(--light-color3);
   box-shadow: var(--dark-color1) 3px 2px 15px;
}

.learning {
   width: 75%;
   display: flex;
   align-items: center;
   margin: 11.25rem 0;
}

.learning-left {
   width: 35%;
   display: flex;
   justify-content: center;
}

.learning-left img{
   width: 80%;
   filter: brightness(1) invert(0);
   transition: filter 0.3s ease;
}

.learning-left img:hover{
   filter: brightness(0.7) invert(0.1);
}

.learning-right {
   width: 65%;
   justify-content: center;
   padding-left: 4.4rem;
   margin-bottom: 3.125rem;
   color: var(--light-color1);
   font-size: 1.25rem;
   font-weight: 500;
}

.learning-right div {
   font-size: 1rem;   
}

.learning-right-img{
   display: flex;
   align-items: center;
   padding: 0.625rem 0;
   gap: 1.25rem;
   /* border: red 1px solid; */
}

.learning-right-img div {
   margin-right: 3.75rem;
   max-width: 12.5rem;
}

.learning-right-img img{
   height: 5rem;   
}

/* RECOMMENDED */

.recommended-block{
   background: #f4f4f4;
   display: flex;
   justify-content: center;
   border-top: 5px solid var(--light-color3);
   /* border: red 1px solid; */
}

.recommended {
   margin: 19rem auto;  
   padding: 1.9rem 0;
   width: 75%;
   /* border: red 1px solid; */
}

.recommended h2{
   text-align: center;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color2);
   letter-spacing: 1px;
}

.recommended-box {
   margin: 1.9rem auto 0;
   display: flex;
   justify-content: center;
   justify-content: space-between;
   gap: 1rem;
   /* border: red 1px solid; */
}

.recommended-card {
   background: var(--dark-color2);
   /* max-width: 20rem; */
   padding: 1.6rem 1.6rem 0.625rem;
   border: var(--dark-color1) 2px solid;
   border-radius: 1.25rem;
   position: relative;
   box-shadow: var(--dark-color3) 1px 1px 5px;
}

.card-aspas {
   color: var(--dark-color3);
   font-size: 4.75rem;
   position: absolute;
   margin: 0;
   top: -12%;
   left: 62%;
}

.recomm-card1 {
   text-align: right;
   font-size: 1.2rem;
   font-weight: 600;
   color: var(--light-color1);
   margin-bottom: 1rem;
}

.recomm-card2 {
   text-align: right;
   font-weight: 500;
   color: var(--light-color1);
   margin-bottom: 0.5rem;
}

.recomm-card3 {
   display: flex;
   align-items: center;
   text-align: left;
   font-weight: 600;
   color: var(--light-color3);
   margin-bottom: 0.5rem;
}

.recomm-card3 img {
   height: 2.8rem;
}

.recomm-card3 p {
   margin: 0;
}

/* START TODAY */

.start-today-block{
   display: flex;
   justify-content: center;
}

.start-today {
   margin: 19rem auto 5rem;  
   padding: 1.9rem 0;
   width: 75%;
   /* border: red 1px solid; */
}

.start-today h2{
   text-align: center;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color2);
   letter-spacing: 1px;
}

.start-today-box {
   margin: 1.9rem auto 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.9rem;
}

.start-today-card {
   background: linear-gradient(to top,var(--dark-color1), var(--dark-color2));
   max-width: 15.6rem;
   padding: 1rem 2.8rem;
   border-radius: 1.25rem;
   border: 1px solid var(--light-color3);
   box-shadow: var(--dark-color1) 3px 2px 15px;
   transition: box-shadow 0.3s ease;
}

.start-today-card:hover,
.start-today-cardC:hover {
   box-shadow: var(--dark-color3) 3px 2px 25px;
}

.start-today-cardC {
   background: linear-gradient(to top,var(--dark-color1), var(--dark-color2));
   max-width: 15.6rem;
   padding: 2.2rem 1rem;
   border-radius: 1.25rem;
   border: 1px solid var(--light-color3);
   box-shadow: var(--dark-color1) 3px 2px 15px;
   transition: box-shadow 0.3s ease;
}

.start-card0 {
   text-align: center;
   font-weight: 500;
   color: var(--light-color3);
   font-size: 1.25rem;
   margin-bottom: 0.5rem;
}

.start-card1 {
   text-align: center;
   font-weight: 500;
   color: #fff;
   font-size: 1.25rem;
   margin-bottom: 0.5rem;
}

.start-card2 {
   text-align: center;
   font-weight: 500;
   color: #fff;
   font-size: 1rem;
   margin-bottom: 0.5rem;
}

.start-card3 { 
   display: flex;
   flex-direction: column;
   align-items: baseline;
   padding-left: 1.6rem;
   color: #fff;
   font-weight: 400;
   margin-bottom: 0.5rem;
   /* border: red 1px solid; */
}

.start-card3 div {
   display: flex;
   align-items: center;
}

.start-card3 img {
   height: 2.2rem;
}

.start-card4 { 
   text-align: center;
   color: #fff;
   font-weight: 400;
   margin: 1rem 0 0.32rem;
}

.blue {
   color: var(--light-color4);
   font-weight: 600;
}

/* FORMULARIO */

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0.25rem auto;  
   padding: 0;
   max-width: 75%;
   /* border: red 1px solid; */
}

.form h2{
   text-align: center;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--dark-color2);
   letter-spacing: 1px;
}

.form-blocks {
   display: flex;
   border-bottom: var(--dark-color2) 0.5rem solid;
   margin: 2rem 0 0;
   padding-bottom: 0.625rem;
   max-width: 100%;
   /* border: red 1px solid; */
}

.form-block1 {
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: baseline;
   /* border: rgb(0, 102, 255) 1px solid; */
}

.form-name input {
   height: 1.9rem;
   margin: 0.625rem 0.625rem 0;
   padding-left: 0.625rem;
   border: 1px solid grey;
   border-radius: 3px;   
}

.form-name {
   display: flex;
   flex-direction: column;
}

.form-block2 {
   display: flex;
   width: 50%;
   flex-direction: column;
   justify-content: baseline;
   align-items: baseline;   
   /* border: red 1px solid; */
}

.form-message {
   width: 93%;
}

.form-message textarea {
   height: 6.25rem;
   width: 100%;
   margin: 0.625rem 0.625rem 0;
   padding: 0.625rem;
   border: 1px solid grey;
   resize: none;
   border-radius: 3px;
   font-family: inherit;   
}

.send {
   align-self: center;
   margin: 1.25rem 0 0;
   width: 8.75rem;
   height: 1.9rem;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background:  linear-gradient(to right, var(--dark-color1), var(--dark-color2));
   color: var(--light-color3);
   transition: scale 0.5s ease;
}

.send:hover {
   scale: 1.1;
}

.form-block3 {
   width: 20%;
   margin: auto;
   padding: 0 1rem 1rem;
   /* border: red 1px solid; */
}

.form-image img{
   max-width: 100%;
}

/* Footer */

footer {   
   background: linear-gradient(to right,var(--dark-color3), var(--dark-color2));
   color: var(--light-color1);
   width: 100%;
   display: flex;
   align-items: center;
}

.footer-links {
   display: flex;
   width: 35%;
   gap: 3.75rem;
   padding: 1.25rem 1.25rem 1.25rem 9.4rem;
   text-transform: capitalize;
   font-size: 1rem;
   font-weight: 500;
   /* border: rgb(0, 102, 255) 1px solid; */
}

.footer-links a {
   color: var(--light-color1);
   text-decoration: none;
   padding-bottom: 0.32rem;
   border-bottom: transparent solid 1px;
   transition: border 0.5s;
}

.footer-links a:hover {
   border-bottom: var(--light-color1) solid 1px;
   cursor: pointer;
}

.footer-socials {
   display: flex;
   width: 35%;
   gap: 0.625rem;
}

.footer-socials img{
   height: 1.9rem;   
}

.footer-socials img:hover{
   cursor: pointer;
   scale: 1.2;
}

/* CONTACT VOADOR */

.float-contact {
   position: fixed;
   bottom: 1.9rem;
   left: 1.9rem;
}

.float-contact img {
   height: 6.25rem;   
   transition: scale 0.5s ease;
}

.float-contact img:hover {
   cursor: pointer;
   scale: 1.1;
}

/* Responsividade */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

@media only screen and (max-width: 480px){
   header {
      flex-direction: column;
      padding: 2.5rem 0 3rem 3.75rem;
      border-bottom: var(--dark-color2) solid 5px;
   }
   header a {
      width: 11rem;
      padding: 0.625rem 0 0;
      margin-right: 10rem;
      font-size: 1.25rem;
      border-bottom: var(--light-color1) solid 1px;
   }
   .hero {
      margin-top: 12.5rem;
      width: 100%;
      flex-direction: column;
      padding-top: 5rem;
   }
   .hero img {
      display: none;
   }
   .hero-text {
      text-transform: uppercase;
      font-size: 2.2rem;
      text-align: left;
      /* border: red 1px solid; */
   }
   .hero-text1 {
      text-indent: 0;
   }
   .hero-btns {
      flex-direction: column;
      margin-top: 3.125rem;
   }

   .hero-btn1,
   .hero-btn2 {
      padding: 0.625rem 1rem;
      margin: 0.625rem 7.5rem 0 0;
   }
   .study-tracks-cards {
      margin: 3.125rem 0 0 0;
      flex-direction: column;
      align-items: center;
      gap: 3.125rem;
   }
   .study-tracks-txt p{
      width: 100%;
   }
   .our-robots {
      width: 100%;
   }
   .our-robots-img {
      margin: 1.9rem auto 0;
      flex-direction: column;
      align-items:center;
      gap: 1.25rem;
   }
   .our-robots-img img{
      width: 90%;
   }
   .how-it-works {
      width: 100%;
   }
   .how-it-works-cards {
      margin: 3.125rem 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.125rem;
   }    
   .learning {
      width: 100%;
      margin: 3.125rem 0.625rem;
      padding: 0;
      /* border: red 1px solid; */
   }
   .learning-left {
      width: 40%;
      align-self: baseline;
      /* border: red 1px solid;       */
   }
   .learning-left img{
      height: 5.6rem;
   }
   .learning-right {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0 1rem;
      /* border: rgb(21, 255, 0) 1px solid; */
   }
   .learning-right p{
      font-size: 1.25rem;
      margin-bottom: 3.125rem;
   }
   .learning-right-img{
      display: grid;
      grid-template-columns: 2fr;
      grid-auto-rows: auto;
      padding: 0;
      gap: 1.25rem;
      margin-bottom: 3.125rem;
      /* border: red 1px solid;       */
   }
   .learning-right-img img:nth-of-type(1) {grid-row: 1;}
   .learning-right-img img:nth-of-type(2) {grid-row: 1;}
   .learning-right-img div:nth-of-type(1) {grid-row: 2;}
   .learning-right-img div:nth-of-type(2) {grid-row: 2;}

   .learning-right-img img{
      height: 2.5rem;   
   }
   .learning-right-img div{
      font-size: 1rem;
   }
   .recommended-block {
      flex-direction: column;
   }
   .recommended-box {
      margin: 1.9rem auto 0;
      flex-direction: column;
      gap: 1.9rem;
   }
   .start-today-box {
      flex-direction: column;
   }
   .start-today-card {
      width: 90%;
      padding: 1rem 2.8rem;
   }
   .start-today-cardC,
   .start-today-card0 {
      max-width: 90%;
      padding: 1rem 2.8rem;
   }
   .form {
      max-width: 95%;
   }
   .form-message {
      width: 80%;
   }
   .form-block3 {
      margin: auto 0.5rem;
   }
   footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto auto;
      
   }
   .footer-links {
      width: 11.25rem;
      grid-column: 1;
      grid-row: 1 / span 2;
      flex-direction: column;
      gap: 1rem;
      padding: 1.9rem;
      /* border: rgb(0, 102, 255) 1px solid; */
   }
   .footer-socials {
      flex-direction: column;
      grid-column: 2;
      grid-row: 1;
   }
   .all-rights {
      grid-column: 2;
      grid-row: 2;
   }
}